.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
 
    .span-counter {
        color: #fff;
        font-size: 44px;
        position: absolute;
        top: 40%;
        transform: translateY(-40%);
    }

    .button-add, .button-remove, .button-clear {
      border: 0;
      border-radius: 5px;
      cursor: pointer;
      font-size: 18px;
      height: 47px;
      letter-spacing: 2px;
      margin-top: 30px;
      width: 216px;
    }

    .button-add {
        box-shadow: 0 1px 5px 2px #000;
        transition: background-color 0.3s 0.1s linear, font-size 0.3s 0.1s linear;
    }

    .button-add:hover {
        background-color: transparent;
        font-size: 20px;
    }

    .button-remove, .button-clear {
        background-color: transparent;
        color: #fff;
        font-size: 14px;
        height: 23px;
        transition: font-size 0.3s 0.1s linear;
        width: 184px;
    }

    .button-remove:hover, .button-clear:hover {
        font-size: 16px;
    }

}

