@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import "_normalize";
@import "_variables";
@import "_mainPage";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}

body {
  color: $yellow;
  background: $blue;
}