@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Source+Code+Pro:400,700&display=swap');
@import "_normalize";
@import "_variables";
@import "_teachIcon";
@import "_previousIcon";
@import "_listIcon";
@import "_paragraph-more";
@import "_wrapper";
@import "_sectionInfo";


html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $blue;
  height: 100vh;
}